<li class="media">
  <a class="pull-left avatar-image">
    <%= image_tag comment.user.letter_avatar_url(40), width: 40, height: 40 %>
  </a>
  <div class="media-body">
    <div class="media-heading">
      <a href="<%= user_path(comment.user) %>" class="username"><%= comment.user.try(:username) %></a>
    </div>
    <div class="content-html"><%= markdown comment.body if comment.body.present? %></div>
    <div class="footer-html"><%= custom_timeago_tag comment.created_at %></div>
  </div>
</li>
