<div class="card">

  <div class="card-content pt20 pb20 profile-header">
    <img src="<%= @user.letter_avatar_url(100) %>" alt="" class="img-fluid rounded-circle">
    <p class="card-title text-center mb20"><%= @user.username %></p>
    <p class="text-center">
      <%= "第#{@user.id}位会员" %>
    </p>
    <p class="text-center">
      <%= I18n.l @user.created_at, :format => :long %>
    </p>
    <% if current_user && current_user == @user %>
      <p class="text-center">
        <%= link_to "修改个人信息", edit_user_registration_path %>
      </p>
    <% end %>
    
    <hr>
    <div class="row">
      <div class="col-md-6 mb20 text-right">
        <p><a href="<%= articles_user_path(@user) %>"><%= @articles.total_count %></a></p>
        <h6 class="text-muted">文章</h6>
      </div>
      <div class="col-md-6 mb20 text-left">
        <p><a href="<%= user_path(@user) %>"><%= @favourite_movies.count.to_i + @favourite_articles.count.to_i %></a></p>
        <p class="text-small text-muted">收藏</p>
      </div>
    </div>
    
  </div>
  <!--content-->

</div>
